<div id="labster_lab_lms_view" data-lab-proxy-id="{{ lab_proxy.id }}" data-completed="{% if completed %}1{% endif %}">
  <h3>{{ lab_proxy.lab.name }}</h3>
  <div id="labster_lab_completed">Completed: <span>{{ completed }}</span></div>
  <form id="labster_lab_problem_form" method="post">
    <div id="labster_lab_problem_container"></div>
    <div>
      <button id="labster_lab_problem_submit" type="submit" style="display:none">Submit</button>
    </div>
  </form>
  <div id="labster_lab_problem_data" style="display:none">
    {% for quiz_block in lab_proxy.quizblocks %}
      {% for problem in quiz_block.problems %}
      <div>
        <div class="problem-html" data-problem-id="{{ problem.id }}">{{ problem.content_html|safe }}</div>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
